
/*-----------------------------Setenado------------------------------------*/
*{    
    font-family		:inherit;
    font-size		:100%;
    font-style		:inherit;
    font-weight		:inherit;
    margin			: 0pt;
    padding			: 0pt;
    vertical-align	: baseline;
    list-style		:none;
}
/*-----------------------------body Contenedor----------------------------*/

body,html
{
	height: 100%;
	background:#EEEEEE;
	font: 90% "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    overflow:hidden;
}
.contenedor
{
	min-height:100%;
	height: auto!important;
	height:100%;
	width:100%;
}
.centro
{
    width: 100%;
	position: absolute;
	top: 70px;
	bottom: 30px;
	overflow: hidden;
}

/*-----------------------------Options------------------------------------*/
.gradeA
{
   background:#FFDDDD;
   border:1px solid #FF0000; 
}
.gradeC
{
   background:#DDFFDD; 
   border:1px solid #00FF00; 
}

div.options
{
    position:relative;
    color:#385F95;
    font-size:12px;
    width:97%;
    padding:9px 6px;
    padding-left:5px;
    margin:3px auto 0px auto;
    border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px;
}
div.options img
{
 vertical-align:text-bottom;
 width:20px;
}
div.options ul
{
 position:absolute;
 top:0px;
 right:0px;
}
div.options ul li
{ float:left;
  margin:0px 1px;
  padding:0px 8px; 
  cursor:pointer; 
  position:relative;
  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px;	
}
div.options ul li:hover
{
border:1px solid #000;
}

div.options ul li img
{ width:34px;
  height:34px;
  margin-top:1px;
}
div.options ul li span
{
	position:absolute;
	background:url("../img/tooltipBack.png") no-repeat;
	background-position:right;
	top:35px;
	color:#fff;
	height:25px;
	line-height:25px;
	right:0px;
	margin-right:17px;
	padding :5px 10px 0px 10px;
	display:none;
}
div.options ul li:hover span
{
	display:inline;
}

div.options strong
{
    font-size:13px;
    color:#515284;
    font-weight:600;
}

.spam
{
    color:blue;
    position:absolute;
    top:1px;
}

/*-------------------------------------CABEZA---------------------------*/
div.datosMaestro
{
    margin:3px auto 0px auto;
    overflow-y:scroll;
}
div.datosMaestro table.thead
{
  border-collapse:collapse;
  width:100%;
}
  div.datosMaestro table.thead tr
{
    border-collapse:collapse;
    width:100%;
    background: url("../img/tables/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
} 
  div.datosMaestro table.thead td
{
    border: 1px solid #C8C6C6;
    text-align:center;
    padding:4px 0px;
}

div.datosMaestro table.thead td:nth-child(1)
{
  border-left:none;
  width:4%;
  text-align:center;
}
div.datosMaestro table.thead td:nth-child(3)
{
	width:43%;
}
div.datosMaestro table.thead td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7),td:nth-child(2)
{
    width:7%;
    text-align:center;
    padding-left:0px;
}

/*----------------------------------------------DETALLE---------------------------------------------*/
div.datosDetalle
{
    width:100%;
    height:100%;
    margin:0px auto;
    overflow-y:scroll;
}
div.datosDetalle table.tbody
{
   border-collapse:collapse;
   width:100%;
}
div.datosDetalle table.tbody tr
{
    border-collapse:collapse;
    width:100%;
    border:1px solid #C8C6C6;
    border-left:none;
}

div.datosDetalle table.tbody tr:nth-child(1)
{
  border-top:none;    
}
div.datosDetalle table.tbody tr td
{
  padding:3px 0px;
  padding-left:3px;
  text-align:center;
}
div.datosDetalle table.tbody tr td:nth-child(1)
{
  border-right:1px solid  #C8C6C6;
  width:4%;
}
div.datosDetalle table.tbody tr td:nth-child(3)
{
	width:43%;
	text-align:left;
}
div.datosDetalle table.tbody tr td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(2)
{
    width:7%;
    text-align:center;
    padding-left:0px;
}
input.autorizado, input.observaciones
{ 
text-align:right;
width:60%;
color:#4087B9;
border: 1px solid #E3E9EF;
border-top: 1px solid #ABADB3;
border-right: 1px solid #ABADB3;
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px;	
}
input.observaciones
{ 
 width:99%;
 text-align:left;
}
div.footer
{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	background: url("../img/tables/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
}
/*--------*/
